const { Controller, Decractors } = require('@dazejs/framework')

const { Router, Get } = Decractors

@Router('{{ names | lower }}')
class {{ name }} extends Controller {
  @Get()
  index() {
    //
  }
}

module.exports = {{ name }}
